.App {
  width: 45%;
  margin: auto;
  border-style: solid;
  border-radius: 5%;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin-bottom: 30px;
  text-align: center;
}

.form-group div{
  display: inline-block;
}

.label{
  width: 40%;
}

.field{
  width: 60%;
}

.form-button{
  border-radius: 35%;
  background-color: white;
}

.checkbox{
  margin-right: 10px;
}

table{
  border: 2px solid black;
  width: 100%;
}

tr {
  border-top: 1px solid #000;
}

tr + tr {
  border-top: 2px solid white;
}

td {
  border-left: 1px solid #000;
  background-color: lightsalmon;
}

td + td {
  border-left: 2px solid white;
} 

.tugas10{
  width: 50%;
  margin: auto;
}

#header{
  text-align: center;
  background-color: lightgray;
}

#nama{
  width: 50%;
}

#harga{
  width: 25%;
}

#berat{
  width: 25%;
}